
@{
    ViewBag.Title = "About";
}

<h3 class="page-header">A little abouts us</h3>

<p>This assignment was very difficult for us. we didn't have a lot of knowledge in basic web programming, especially with AJAX and other framework we encounter for the first time<br />
    Time was a big issue for us, we needed more time to discvoer and understand more deeply the different kind of Frameworks, that were suppose to make our life easier.<br />
    Except that, we learned a lot about the assignment, hoping for more time in next assignment, so we can learn and enjoy also. 
     </p>
<h2 class="page-header">
    Links to our game from Assignment #2
</h2>
<p>
    <a href="http://human-resource-manager-herbert-16101.bitballoon.com/">Idan's Game</a><br />
    <a href="http://human-resource-manager-herbert-16101.bitballoon.com/">Beygels's Game</a>
</p>
<h2 class="page-header">
    Links to our personal websites
</h2>
<p>
    <a href="https://googledrive.com/host/0B1L_AqE_2CMxeHR5eEt6STQ0a28">Idan's website</a><br />
    <a href="http://human-resource-manager-herbert-16101.bitballoon.com/">Beygels's website</a>
</p>




